body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
	font-family:  "Arial", "verdana", Sans-serif;
    font-size: 250%;
	font-weight: lighter;
}

button {
	font-family: "Arial", "verdana", Sans-serif;
    font-size: 80%;
	font-weight: lighter;
	margin: 35px;
	margin-left: 155px;
	margin-right: 155px;
	box-shadow:3px 3px 6px 4px black;
}

input {
	
	font-size: 150%;
}

p {
    font-family: "Arial", "verdana", Sans-serif;
    font-size: 20px;
}