body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
	font-family:  "Arial", "verdana", Sans-serif;
    font-size: 250%;
	font-weight: lighter;
	margin-bottom: 0px;
}

h2 {
    color: black;
    text-align: center;
	font-family:  "Arial", "verdana", Sans-serif;
    font-size: 240%;
	font-weight: lighter;
	margin-top: 0px;
	margin-bottom: 0px;
}

h6 {
    color: black;
    text-align: center;
	font-family:  "Arial", "verdana", Sans-serif;
    font-size: 100%;
	font-weight: lighter;
	margin-top: 0px;
	margin-bottom: 0px;
}

th,td {
    text-align: center;
	border:0px solid black;
    border-collapse: collapse;
}

button {
	font-family: "Arial", "verdana", Sans-serif;
    font-size: 100%;
	font-weight: lighter;
	margin: 0px;
	margin-top: 0px;
	margin-left: 155px;
	margin-right: 155px;
	box-shadow:3px 3px 6px 4px black;
}

input {
	
	font-size: 120%;
	width:80px;
}

p {
    font-family: "Arial", "verdana", Sans-serif;
    font-size: 120%;
}

ul {
    list-style-type:none;
	font-family: "Arial", "verdana", Sans-serif;
	font-size: 120%;
	font-weight: lighter;
	margin: 0px;
	text-align: left;
}

li {
	margin: 5px;
}

textarea {
	margin-top:5px;
	margin-bottom: 0px;
	font-size: 120%;
}

	